<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.server.dao.AdvDao">
  <cache eviction="LRU" type="com.loki.server.cache.RedisCache"/>
  <resultMap id="advDO" type="com.loki.server.entity.Adv">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="admin_creator_id" jdbcType="INTEGER" property="adminCreatorId" />
    <result column="admin_updater_id" jdbcType="INTEGER" property="adminUpdaterId" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="preview_url" jdbcType="VARCHAR" property="previewUrl" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="linkable" jdbcType="INTEGER" property="linkable" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="click_count" jdbcType="INTEGER" property="clickCount" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,create_time,update_time,admin_creator_id,admin_updater_id,position,title,preview_url,content,linkable,link_url,start_time,end_time,sort,click_count,state
  </sql>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.loki.server.entity.Adv">
		insert into adv(create_time,admin_creator_id,position,title,preview_url,content,linkable,link_url,start_time,end_time,sort,click_count,state) 
		values(now(),#{adminCreatorId},#{position},#{title},#{previewUrl},#{content},#{linkable},#{linkUrl},#{startTime},#{endTime},#{sort},#{clickCount},#{state})
	</insert>

  <update id="update" parameterType="com.loki.server.entity.Adv">
  	update adv SET update_time=now(),admin_updater_id=#{adminUpdaterId},position=#{position},title=#{title},preview_url=#{previewUrl},content=#{content},linkable=#{linkable},link_url=#{linkUrl},start_time=#{startTime},end_time=#{endTime},sort=#{sort},click_count=#{clickCount},state=#{state} where id=#{id}
  </update>
  
  <select id="findById" parameterType="int" resultMap="advDO">
		select <include refid="Base_Column_List" /> 
		from adv
		where id=#{_parameter}
  </select>
  
  <select id="findAll" resultMap="advDO">
		select <include refid="Base_Column_List" /> 
		from adv
  </select>
  
  <delete id="delete" parameterType="int">
		delete from adv where id=#{_parameter}
	</delete>
	
	<select id="findByCount" parameterType="int" resultMap="advDO">
		select <include refid="Base_Column_List" /> 
		from adv
		where state=1 
		order by sort asc
		limit #{_parameter}
  </select>

	<select id="findByParam" resultMap="advDO">
		select <include refid="Base_Column_List" /> 
		from adv
		<where>
			<if test="position != null and position != ''">
				position=#{position}
			</if>
			<if test="title != null and title != ''">
				and title=#{title}
			</if>
			<if test="state != null">
				and state=#{state}
			</if>
		</where>
		ORDER BY
		<choose>
			<when test="sortName!=null">
				${sortName}
				<if test="sortOrder!=null">
					${sortOrder}
				</if>
			</when>
			<otherwise>
				id desc
			</otherwise>
		</choose>
  	</select>
</mapper>