<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.server.dao.CarouselDao">
  <cache eviction="LRU" type="com.loki.server.cache.RedisCache"/>
  <resultMap id="carouselDO" type="com.loki.server.entity.Carousel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="admin_creator_id" jdbcType="INTEGER" property="adminCreatorId" />
    <result column="admin_updater_id" jdbcType="INTEGER" property="adminUpdaterId" />
    <result column="preview" jdbcType="VARCHAR" property="preview" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="relation_id" jdbcType="INTEGER" property="relationId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,create_time,update_time,admin_creator_id,admin_updater_id,preview,type,relation_id,sort,status
  </sql>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.loki.server.entity.Carousel">
		insert into carousel(create_time,admin_creator_id,preview,type,relation_id,sort,status) 
		values(now(),#{adminCreatorId},#{preview},#{type},#{relationId},#{sort},#{status})
	</insert>

  <update id="update" parameterType="com.loki.server.entity.Carousel">
  	update carousel SET update_time=now(),admin_updater_id=#{adminUpdaterId},preview=#{preview},type=#{type},relation_id=#{relationId},sort=#{sort},status=#{status} where id=#{id}
  </update>
  
  <select id="findById" parameterType="int" resultMap="carouselDO">
		select <include refid="Base_Column_List" /> 
		from carousel
		where id=#{_parameter}
  </select>
  
  <select id="findAll" resultMap="carouselDO">
		select <include refid="Base_Column_List" /> 
		from carousel
  </select>
  
  <select id="findBySize" resultMap="carouselDO">
		select <include refid="Base_Column_List" /> 
		from carousel
		where status=1
		order by sort asc limit #{_parameter}
  </select>
  
  <delete id="delete" parameterType="int">
		delete from carousel where id=#{_parameter}
	</delete>
</mapper>