<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.server.dao.NoticeDao">
  <cache eviction="LRU" type="com.loki.server.cache.RedisCache"/>
  <resultMap id="noticeDao" type="com.loki.server.entity.Notice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="admin_creator_id" jdbcType="INTEGER" property="adminCreatorId" />
    <result column="admin_updater_id" jdbcType="INTEGER" property="adminUpdaterId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="relation_id" jdbcType="INTEGER" property="relationId" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,create_time,update_time,admin_creator_id,admin_updater_id,title,content,type,relation_id
  </sql>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.loki.server.entity.Notice">
		insert into notice(create_time,admin_creator_id,title,content,type,relation_id) 
		values(now(),#{adminCreatorId},#{title},#{content},#{type},#{relationId})
	</insert>

  <update id="update" parameterType="com.loki.server.entity.Notice">
  	update notice SET update_time=now(),admin_updater_id=#{adminUpdaterId},title=#{title},content=#{content},type=#{type},relation_id=#{relationId} where id=#{id}
  </update>
  
  <select id="findById" parameterType="int" resultMap="noticeDao">
		select <include refid="Base_Column_List" /> 
		from notice
		where id=#{_parameter}
  </select>
  
  <select id="findAll" resultMap="noticeDao">
		select <include refid="Base_Column_List" /> 
		from notice
  </select>
  
  <delete id="delete" parameterType="int">
		delete from notice where id=#{_parameter}
	</delete>
</mapper>