<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.server.dao.TradeDao">
  <cache eviction="LRU" type="com.loki.server.cache.RedisCache"/>
  <resultMap id="tradeDO" type="com.loki.server.entity.Trade">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="town_name" jdbcType="VARCHAR" property="townName" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="budget" jdbcType="DECIMAL" property="budget" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="intention" jdbcType="DECIMAL" property="intention" />
    <result column="identity_id" jdbcType="INTEGER" property="identityId" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="docking_id" jdbcType="INTEGER" property="dockingId" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,create_time,update_time,user_id,sn,title,content,type,province_name,city_name,town_name,quantity,delivery_time,budget,resource_name,capacity,status,intention,identity_id,enterprise_id,docking_id,read_count
  </sql>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.loki.server.entity.Trade">
		insert into trade(create_time,user_id,sn,title,content,type,province_name,city_name,town_name,quantity,delivery_time,budget,resource_name,capacity,status,intention,identity_id,enterprise_id,docking_id,read_count) 
		values(now(),#{userId},#{sn},#{title},#{content},#{type},#{provinceName},#{cityName},#{townName},#{quantity},#{deliveryTime},#{budget},#{resourceName},#{capacity},#{status},#{intention},#{identityId},#{enterpriseId},#{dockingId},#{readCount})
	</insert>
	
  <update id="update" parameterType="com.loki.server.entity.User">
  	update trade SET update_time=now(),user_id=#{userId},sn=#{sn},title=#{title},content=#{content},type=#{type},province_name=#{provinceName},city_name=#{cityName},town_name=#{townName},quantity=#{quantity},delivery_time=#{deliveryTime},budget=#{budget},resource_name=#{resourceName},capacity=#{capacity},status=#{status},intention=#{intention},identity_id=#{identityId},enterprise_id=#{enterpriseId},docking_id=#{dockingId},read_count=#{readCount} where id=#{id}
  </update>
	
  <select id="findById" parameterType="int" resultMap="tradeDO">
		select <include refid="Base_Column_List" /> 
		from trade
		where id=#{_parameter}
  </select>
  
  <select id="findByUserId" parameterType="int" resultMap="tradeDO">
		select <include refid="Base_Column_List" /> 
		from trade
		where user_id=#{_parameter}
  </select>
  
  <select id="findByIdAndUserId" resultMap="tradeDO">
		select <include refid="Base_Column_List" /> 
		from trade
		where id=#{id} and user_id=#{userId}
  </select>
  
  <select id="findAll" resultMap="tradeDO">
		select <include refid="Base_Column_List" /> 
		from trade
  </select>
  
  <delete id="delete" parameterType="int">
		delete from trade where id=#{_parameter}
	</delete>
</mapper>