<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.server.dao.TradeComplexDao">
  <cache eviction="LRU" type="com.loki.server.cache.RedisCache"/>
  <resultMap id="tradeComplexDO" type="com.loki.server.entity.TradeComplex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_nick_name" jdbcType="VARCHAR" property="userNickName" />
    <result column="sn" jdbcType="VARCHAR" property="sn" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="town_name" jdbcType="VARCHAR" property="townName" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="delivery_time" jdbcType="TIMESTAMP" property="deliveryTime" />
    <result column="budget" jdbcType="DECIMAL" property="budget" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="intention" jdbcType="DECIMAL" property="intention" />
    <result column="identity_id" jdbcType="INTEGER" property="identityId" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="docking_id" jdbcType="INTEGER" property="dockingId" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="docking_count" jdbcType="INTEGER" property="dockingCount" />
    <result column="collection_count" jdbcType="INTEGER" property="collectionCount"/>
    <result column="industry_name" jdbcType="VARCHAR" property="industryName" />
    <result column="invoice_name" jdbcType="VARCHAR" property="invoiceName" />
    <result column="paycode_name" jdbcType="VARCHAR" property="paycodeName" />
    <result column="preview_image_name" jdbcType="VARCHAR" property="previewImageName" />
  </resultMap>
  
  <select id="findByParam" resultMap="tradeComplexDO">
		select trade.*,_invoice.invoice_name,_industry.industry_name,_paycode.paycode_name,_attachment.preview_image_name,_user.nick_name as user_nick_name
		from trade 
		left join(select trade_id,group_concat(value) as invoice_name from trade_invoice group by trade_id) _invoice on _invoice.trade_id=trade.id
		left join(select trade_id,group_concat(value) as industry_name from trade_industry group by trade_id) _industry on _industry.trade_id=trade.id
		left join(select trade_id,group_concat(value) as paycode_name from trade_paycode group by trade_id) _paycode on _paycode.trade_id=trade.id
		left join(select trade_id,name as preview_image_name from trade_attachment where preview=1 group by trade_id,name) _attachment on _attachment.trade_id=trade.id
		left join user as _user on _user.id=trade.user_id
		left join (select id,status from identity_certification) _ic on trade.identity_id=_ic.id
		left join (select id,status from enterprise_certification) _ec on trade.enterprise_id=_ec.id
		<where>
			<if test="sn!=null and sn!=''">
				trade.sn=#{sn}
			</if>
			<if test="title!=null and title!=''">
				and trade.title like CONCAT('%','${title}','%' ) 
			</if>
			<if test="type!=null and type!=''">
				and trade.type=#{type}
			</if>
			<if test="provinceName!=null and provinceName!=''">
				and trade.province_name=#{provinceName}
			</if>
			<if test="cityName!=null and cityName!=''">
				and trade.city_name=#{cityName}
			</if>
			<if test="townName!=null and townName!=''">
				and trade.town_name=#{townName}
			</if>
			<if test="status!=null and status!=''">
				and trade.status=#{status}
			</if>
			<if test="ignoreSuccessAndDown!=null and ignoreSuccessAndDown==true">
				and trade.status not in ('trade_under_carriage','trade_success')
			</if>
			<if test="userId!=null and userId!=0">
				and trade.user_id=#{userId} 
			</if>
			<if test="invoiceCode!=null and invoiceCode!=''">
				and trade.id in(
				select trade_id from trade_invoice where code=#{invoiceCode})
			</if>
			<if test="industryCode!=null and industryCode!=''">
				and trade.id in(
				select trade_id from trade_industry where code=#{industryCode})
			</if>
			<if test="payCode!=null and payCode!=''">
				and trade.id in(
				select trade_id from trade_paycode where code=#{payCode})
			</if>
			<if test="identityStatus!=null and identityStatus!=''">
				and _ic.status=#{identityStatus}
			</if>
			<if test="enterpriseStatus!=null and enterpriseStatus!=''">
				and _ec.status=#{enterpriseStatus}
			</if>
		</where>
		ORDER BY
		 <choose>
	        <when test="sortName!=null">
	                trade.${sortName}
	            <if test="sortOrder!=null">
	                ${sortOrder}
	            </if>
	        </when>
	        <otherwise>
	            docking_count,id desc
	        </otherwise>
	     </choose>
  </select>
  
  <select id="findByOwnPublish" resultMap="tradeComplexDO">
		select trade.*,_invoice.invoice_name,_industry.industry_name,_paycode.paycode_name,_attachment.preview_image_name,_user.nick_name as user_nick_name
		from trade 
		left join(select trade_id,group_concat(value) as invoice_name from trade_invoice group by trade_id) _invoice on _invoice.trade_id=trade.id
		left join(select trade_id,group_concat(value) as industry_name from trade_industry group by trade_id) _industry on _industry.trade_id=trade.id
		left join(select trade_id,group_concat(value) as paycode_name from trade_paycode group by trade_id) _paycode on _paycode.trade_id=trade.id
		left join(select trade_id,name as preview_image_name from trade_attachment where preview=1 group by trade_id,name) _attachment on _attachment.trade_id=trade.id
		left join user as _user on _user.id=trade.user_id
		left join (select id,status from identity_certification) _ic on trade.identity_id=_ic.id
		left join (select id,status from enterprise_certification) _ec on trade.enterprise_id=_ec.id
		left join dictionaries dic on dic.type='trade_status' and dic.code=trade.status
		<where>
			<if test="sn!=null and sn!=''">
				trade.sn=#{sn}
			</if>
			<if test="title!=null and title!=''">
				and trade.title like CONCAT('%','${title}','%' ) 
			</if>
			<if test="type!=null and type!=''">
				and trade.type=#{type}
			</if>
			<if test="provinceName!=null and provinceName!=''">
				and trade.province_name=#{provinceName}
			</if>
			<if test="cityName!=null and cityName!=''">
				and trade.city_name=#{cityName}
			</if>
			<if test="townName!=null and townName!=''">
				and trade.town_name=#{townName}
			</if>
			<if test="status!=null and status!=''">
				and trade.status=#{status}
			</if>
			<if test="ignoreSuccessAndDown!=null and ignoreSuccessAndDown==true">
				and trade.status not in ('trade_under_carriage','trade_success')
			</if>
			<if test="userId!=null and userId!=0">
				and trade.user_id=#{userId} 
			</if>
			<if test="invoiceCode!=null and invoiceCode!=''">
				and trade.id in(
				select trade_id from trade_invoice where code=#{invoiceCode})
			</if>
			<if test="industryCode!=null and industryCode!=''">
				and trade.id in(
				select trade_id from trade_industry where code=#{industryCode})
			</if>
			<if test="payCode!=null and payCode!=''">
				and trade.id in(
				select trade_id from trade_paycode where code=#{payCode})
			</if>
			<if test="identityStatus!=null and identityStatus!=''">
				and _ic.status=#{identityStatus}
			</if>
			<if test="enterpriseStatus!=null and enterpriseStatus!=''">
				and _ec.status=#{enterpriseStatus}
			</if>
		</where>
		ORDER BY
		 <choose>
	        <when test="sortName!=null">
	                trade.${sortName}
	            <if test="sortOrder!=null">
	                ${sortOrder}
	            </if>
	        </when>
	        <otherwise>
	            dic.list_order asc,trade.docking_count desc
	        </otherwise>
	     </choose>
  </select>
  
  <select id="findDockingTrade" resultMap="tradeComplexDO">
		select trade.*,_invoice.invoice_name,_industry.industry_name,_paycode.paycode_name,_attachment.preview_image_name,_user.nick_name as user_nick_name
		from trade 
		left join(select trade_id,group_concat(value) as invoice_name from trade_invoice group by trade_id) _invoice on _invoice.trade_id=trade.id
		left join(select trade_id,group_concat(value) as industry_name from trade_industry group by trade_id) _industry on _industry.trade_id=trade.id
		left join(select trade_id,group_concat(value) as paycode_name from trade_paycode group by trade_id) _paycode on _paycode.trade_id=trade.id
		left join(select trade_id,name as preview_image_name from trade_attachment where preview=1 group by trade_id,name) _attachment on _attachment.trade_id=trade.id
		left join user as _user on _user.id=trade.user_id
		<if test="userId!=null and userId!=0">
			join trade_docking on trade_docking.trade_id=trade.id and trade_docking.user_id=#{userId} 
		</if>
		<where>
			<if test="sn!=null and sn!=''">
				trade.sn=#{sn}
			</if>
			<if test="title!=null and title!=''">
				and trade.title like CONCAT('%','${title}','%' ) 
			</if>
			<if test="type!=null and type!=''">
				and trade.type=#{type}
			</if>
			<if test="provinceName!=null and provinceName!=''">
				and trade.province_name=#{provinceName}
			</if>
			<if test="cityName!=null and cityName!=''">
				and trade.city_name=#{cityName}
			</if>
			<if test="townName!=null and townName!=''">
				and trade.town_name=#{townName}
			</if>
			<if test="status!=null and status!=''">
				and trade.status=#{status}
			</if>
			<if test="invoiceCode!=null and invoiceCode!=''">
				and trade.id in(
				select trade_id from trade_invoice where code=#{invoiceCode})
			</if>
			<if test="industryCode!=null and industryCode!=''">
				and trade.id in(
				select trade_id from trade_industry where code=#{industryCode})
			</if>
			<if test="payCode!=null and payCode!=''">
				and trade.id in(
				select trade_id from trade_paycode where code=#{payCode})
			</if>
		</where>
		ORDER BY
		 <choose>
	        <when test="sortName!=null">
	                trade.${sortName}
	            <if test="sortOrder!=null">
	                ${sortOrder}
	            </if>
	        </when>
	        <otherwise>
	            docking_count,id desc
	        </otherwise>
	     </choose>
  </select>
  
  <select id="findById" parameterType="int" resultMap="tradeComplexDO">
		select trade.*,_invoice.invoice_name,_industry.industry_name,_paycode.paycode_name,_attachment.preview_image_name,_user.nick_name as user_nick_name
		from trade 
		left join(select trade_id,group_concat(value) as invoice_name from trade_invoice group by trade_id) _invoice on _invoice.trade_id=trade.id
		left join(select trade_id,group_concat(value) as industry_name from trade_industry group by trade_id) _industry on _industry.trade_id=trade.id
		left join(select trade_id,group_concat(value) as paycode_name from trade_paycode group by trade_id) _paycode on _paycode.trade_id=trade.id
		left join(select trade_id,name as preview_image_name from trade_attachment where preview=1 group by trade_id,name) _attachment on _attachment.trade_id=trade.id
		left join user as _user on _user.id=trade.user_id
		where trade.id=#{_parameter}
  </select>
  
  <select id="findLastest10Trade" resultMap="tradeComplexDO">
		select trade.*,_invoice.invoice_name,_industry.industry_name,_paycode.paycode_name,_attachment.preview_image_name,_user.nick_name as user_nick_name
		from trade 
		left join(select trade_id,group_concat(value) as invoice_name from trade_invoice group by trade_id) _invoice on _invoice.trade_id=trade.id
		left join(select trade_id,group_concat(value) as industry_name from trade_industry group by trade_id) _industry on _industry.trade_id=trade.id
		left join(select trade_id,group_concat(value) as paycode_name from trade_paycode group by trade_id) _paycode on _paycode.trade_id=trade.id
		left join(select trade_id,name as preview_image_name from trade_attachment where preview=1 group by trade_id,name) _attachment on _attachment.trade_id=trade.id
		left join user as _user on _user.id=trade.user_id
		ORDER BY create_time desc limit 10
  </select>
  
  <select id="findRecommendedList" resultMap="tradeComplexDO">
		select trade.*,_invoice.invoice_name,_industry.industry_name,_paycode.paycode_name,_attachment.preview_image_name,_user.nick_name as user_nick_name
		from trade 
		left join(select trade_id,group_concat(value) as invoice_name from trade_invoice group by trade_id) _invoice on _invoice.trade_id=trade.id
		left join(select trade_id,group_concat(value) as industry_name from trade_industry group by trade_id) _industry on _industry.trade_id=trade.id
		left join(select trade_id,group_concat(value) as paycode_name from trade_paycode group by trade_id) _paycode on _paycode.trade_id=trade.id
		left join(select trade_id,name as preview_image_name from trade_attachment where preview=1 group by trade_id,name) _attachment on _attachment.trade_id=trade.id
		left join user as _user on _user.id=trade.user_id
		<where>
			<if test="title!=null and title!=''">
				and trade.title like CONCAT('%','${title}','%' ) 
			</if>
			<if test="type!=null and type!=''">
				and trade.type=#{type}
			</if>
			<if test="provinceName!=null and provinceName!=''">
				and trade.province_name=#{provinceName}
			</if>
			<if test="cityName!=null and cityName!=''">
				and trade.city_name=#{cityName}
			</if>
			<if test="townName!=null and townName!=''">
				and trade.town_name=#{townName}
			</if>
			<if test="status!=null and status!=''">
				and trade.status=#{status}
			</if>
			<if test="invoiceCode!=null and invoiceCode!=''">
				and trade.id in(
				select trade_id from trade_invoice where code=#{invoiceCode})
			</if>
			<if test="industryCode!=null and industryCode!=''">
				and trade.id in(
				select trade_id from trade_industry where code=#{industryCode})
			</if>
			<if test="payCode!=null and payCode!=''">
				and trade.id in(
				select trade_id from trade_paycode where code=#{payCode})
			</if>
		</where>
		ORDER BY intention ,collection_count ,read_count ,docking_count desc
  </select>
</mapper>