<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.server.dao.UserBankcardDao">
  <cache eviction="LRU" type="com.loki.server.cache.RedisCache"/>
  <resultMap id="userBankcardDO" type="com.loki.server.entity.UserBankcard">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="card_type_code" jdbcType="VARCHAR" property="cardTypeCode" />
    <result column="card_type_name" jdbcType="VARCHAR" property="cardTypeName" />
    <result column="card_number" jdbcType="VARCHAR" property="cardNumber" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,user_id,bank_code,bank_name,card_type_code,card_type_name,card_number
  </sql>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id"  parameterType="com.loki.server.entity.UserBankcard">
		insert into user_bankcard(user_id,bank_code,bank_name,card_type_code,card_type_name,card_number) 
		values(#{userId},#{bankCode},#{bankName},#{cardTypeCode},#{cardTypeName},#{cardNumber})
	</insert>

  <update id="update" parameterType="com.loki.server.entity.UserBankcard">
  	update user_bankcard SET user_id=#{userId},bank_code=#{bankCode},bank_name=#{bankName},card_type_code=#{cardTypeCode},card_type_name=#{cardTypeName},card_number=#{cardNumber} where id=#{id}
  </update>
  
  <select id="findByParam" resultMap="userBankcardDO">
		select <include refid="Base_Column_List" /> 
		from user_bankcard
		<where>
			<if test="userId !=null and userId!=0">
				user_id=#{userId}
			</if>
			<if test="bankCode !=null and bankCode!=''">
				and bank_code=#{bankCode}
			</if>
			<if test="cardTypeCode !=null and cardTypeCode!=''">
				and card_type_code=#{cardTypeCode}
			</if>
			<if test="cardNumber !=null and cardNumber!=''">
				and card_number=#{cardNumber}
			</if>
		</where>
		order by id desc
  </select>
  
  <select id="findById" parameterType="int" resultMap="userBankcardDO">
		select <include refid="Base_Column_List" /> 
		from user_bankcard
		where id=#{_parameter}
  </select>
  
  <select id="findAll" resultMap="userBankcardDO">
		select <include refid="Base_Column_List" /> 
		from user_bankcard
  </select>
  
  <delete id="delete" parameterType="int">
		delete from user_bankcard where id=#{_parameter}
	</delete>
</mapper>