<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loki.server.dao.UserDao">
  <cache eviction="LRU" type="com.loki.server.cache.RedisCache"/>
  <resultMap id="userDO" type="com.loki.server.entity.User">
  
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="phone_bind" jdbcType="BIT" property="phoneBind" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="email_bind" jdbcType="BIT" property="emailBind" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="pay_pwd" jdbcType="VARCHAR" property="payPwd" />
    <result column="regist_time" jdbcType="TIMESTAMP" property="registTime" />
    <result column="regist_ip" jdbcType="VARCHAR" property="registIp" />
    <result column="identity_id" jdbcType="INTEGER" property="identityId" />
    <result column="enterprise_id" jdbcType="INTEGER" property="enterpriseId" />
    <result column="ease_id" jdbcType="VARCHAR" property="easeId" />
    <result column="ease_pwd" jdbcType="VARCHAR" property="easePwd" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_name,password,nick_name,phone,phone_bind,email,email_bind,avatar,pay_pwd,regist_time,regist_ip,identity_id,enterprise_id,ease_id,ease_pwd
  </sql>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.loki.server.entity.User">
		insert into user(user_name,password,nick_name,phone,phone_bind,email,email_bind,avatar,pay_pwd,regist_time,regist_ip,identity_id,enterprise_id,ease_id,ease_pwd) 
		values(#{userName},#{password},#{nickName},#{phone},#{phoneBind},#{email},#{emailBind},#{avatar},#{payPwd},now(),#{registIp},#{identityId},#{enterpriseId},#{easeId},#{easePwd})
	</insert>
  
  <select id="findById" parameterType="int" resultMap="userDO">
		select <include refid="Base_Column_List" /> 
		from user
		where id=#{_parameter}
  </select>
  
  <select id="findNickNameById" parameterType="int" resultType="String">
		select nick_name
		from user
		where id=#{_parameter}
  </select>
  
  <select id="findAll" resultMap="userDO">
		select <include refid="Base_Column_List" /> 
		from user
  </select>
  
  <update id="update" parameterType="com.loki.server.entity.User">
  	update user SET user_name=#{userName},password=#{password},nick_name=#{nickName},phone=#{phone},phone_bind=#{phoneBind},email=#{email},email_bind=#{emailBind},avatar=#{avatar},pay_pwd=#{payPwd},identity_id=#{identityId},enterprise_id=#{enterpriseId},ease_id=#{easeId},ease_pwd=#{easePwd} where id=#{id}
  </update>
  
  <delete id="delete" parameterType="int">
		delete from user where id=#{_parameter}
	</delete>
	
	<!-- 登录查询 -->
  <select id="loginCheck" resultMap="userDO">
		select <include refid="Base_Column_List" /> 
		from user
		where phone=#{phone} and password=#{password}
  </select>
  
  <select id="userExistCheck" parameterType="String" resultType="int">
  		select count(id) from user where phone=#{_parameter}
  </select>
</mapper>